[submodule "Vendor/DropboxSDK"]
	path = Vendor/DropboxSDK
	url = https://github.com/drewmccormack/dropbox-sdk-ios.git
[submodule "Vendor/MagicalRecord"]
	path = Vendor/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "Vendor/SSZipArchive"]
	path = Vendor/SSZipArchive
	url = https://github.com/soffes/ssziparchive.git
